{% extends "layaout.html" %}

{% block content %}

				<div class="container-fluid p-0">

					<div class="mb-3">
						<h1 class="h3 d-inline align-middle">Atender</h1>
						<a class="badge bg-dark text-white ms-2" href="#">
							Pedidos
						</a>
					</div>
				</div>
				<div class="row">
						<div class="col-12 col-lg-8 col-xxl-9 d-flex" style="width: 100%;">
							<div class="card flex-fill">
								<div class="card-header">

									<h5 class="card-title mb-0">Lista de Pedidos</h5>
								</div>
								<table class="table table-hover">
									<thead>
										<tr>
										<th>ID</th>
										<th>Supervisor</th>
										<th>Producto</th>
										<th>Fecha</th>
										<th>Cantidad</th>
										</tr>
									</thead>
									<tbody>
										{% for pedido in pedidos %}
										<tr>
										<td>{{ pedido[0] }}</td>
										<td>{{ pedido[1] }}</td>
										<td>{{ pedido[2] }}</td>
										<td>{{ pedido[4].strftime('%d/%m/%Y') }}</td>
										<td>{{ pedido[3] }}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>

				{% endblock %}

				{% block scripts %}	

				{% endblock %}